* {
  padding: 0;
  margin: 0;
}

header {
  background-color: #212121;
  color: white;
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
}

.logo {
  display: flex;
}

.logo img {
  max-width: 15px;
  max-height: 15px;
}

header nav {
  display: flex;
  gap: 70px;
}

header nav a {
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.icones-header {
  display: flex;
  gap: 30px;
}

.cor-verde {
  color: #09FF00;
}

.cor-azul {
  color: #0073FF;
}

.cor-vermelha {
  color: #FF0000;
}

.cor-laranja {
  color: #FF5100;
}

#botao-saiba-mais {
  background-color: #FF5100;
  color: white;
  border: none;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
}

footer {
  background-color: #0073FF;
}