* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* Estilos para o Header */

header {
  background-color: #212121;
  color: white;
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
}

.logo {
  display: flex;
}

.logo img {
  width: 20px;
  height: 20px;
}

.logo h1 {
  font-size: 35px;
}

header nav {
  display: flex;
  gap: 70px;
}

header nav a {
  font-size: 16px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

header nav a.ativo {
  color: #09FF00;
}


header nav a:hover {
  color: #09FF00;
}

.icones-header {
  display: flex;
  gap: 30px;
}

/* Fim dos estilos para o header */

main {
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
}

#primeira-secao-noticias {
  display: flex;
}

#segunda-secao-noticias {
  display: flex;
}

.cor-verde {
  color: #09FF00;
}

.cor-azul {
  color: #0073FF;
}

.cor-vermelha {
  color: #FF0000;
}

.cor-laranja {
  color: #FF5100;
}

#botao-saiba-mais {
  font-size: 13px;
  white-space: nowrap;
  background-color: #FF5100;
  color: white;
  border: none;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
  margin-top: 5px;
}

.noticia-principal h2 {
  font-size: 45px;
  line-height: 50px;
  font-weight: 600;
}

.noticia-principal ul {
  padding-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.noticia-principal ul li {
  font-size: 15px;
  font-weight: 300;
  padding-bottom: 5px;
}

.noticia-principal ul li::marker {
  color: #09FF00;
}

main section:first-child {
  width: 40%;
  padding-right: 50px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

main section:nth-child(2) {
  width: 20%;
  padding: 0 50px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

main section:nth-child(3) {
  width: 20%;
  padding: 0 50px;
}

.noticia-grupo-1 {
  width: 100%;
}

.noticia-grupo-1 img {
  width: 100%;
  border-radius: 10px;
}

.noticia-grupo-1 h3 {
  font-size: 15px;
  font-weight: 500;
  margin: 5px 0px;
}

.noticia-grupo-1 ul {
  padding-left: 20px;
  font-size: 13px;
  font-weight: 300;
}

.noticia-grupo-1 ul li::marker {
  color: #09FF00;
}

#primeira-secao-noticias {
  display: flex;
  justify-content: space-between;
  padding: 40px 0px;
}
#segunda-secao-noticias {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 40px 0px;

}

#segunda-seção-noticias article ul li::marker{
  color: #0073FF;

}
/* Fim estilo para a primeira section*/

/* Estilo para a segunda sections*/
main section:nth-child(2) article img {
  width:100%;
  border-radius: 10px;
}
/* Fim estilo para a segunda section*/
main section:nth-child(2) article {
  width: 100%;
  margin-bottom: 30px;

}

main section:nth-child(2) article ul li::marker{
  color: #FF0000;
  

}

/* Fim estilo para a segunda section*/
main section:nth-child(3) article {
  width: 100%;
  margin-bottom: 30px;

}

main section:nth-child(3) article ul li::marker{
  color: #FF0000;
  /* Fim estilo para a terceira section*/
}
footer {
  background-color: #0073FF;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  font-weight: 600;
  margin-top: 50px;



}

